$medly-green: #00d2b3;

.main-container {
  display: flex;
  width: 90%;
  padding: 10px;
  margin: 0 auto;
}
.summary-container {
  width: 55%;
  border: 1px solid #eee;
  margin-right: 30px;
  padding: 10px;
  height: auto;
  max-height: 550px;

  &-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.summary-text {
  font-size: 18px;
  span {
    font-weight: bold;
    font-size: 20px;
    margin-right: 5px;
  }
}

.summary-notes-time {
  text-transform: capitalize;
  margin-top: 5px;
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.summary-notes {
  margin-top: 10px;

  p {
    font-size: 20px;
  }

  > span {
    background: #ffffe1;
    padding: 10px;
    display: block;
    text-transform: capitalize;
  }
}

.event-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: row;
  border: 1px solid #eee;
  margin-bottom: 30px;

  &-index {
    width: 15%;
    justify-content: center;
    display: flex;
    align-items: center;
    span {
      background: $medly-green;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: block;
      justify-content: center;
      display: flex;
      align-items: center;
    }

    p {
      font-size: 20px;
      color: white;
      font-weight: bold;
    }
  }

  &-content {
    width: 95%;
  }

  &-title {
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    padding-bottom: 2px;
  }

  &-notes {
    background: #ffffe1;
    margin-top: 10px;
    padding: 5px;
    width: 40%;

    &-alert {
      background: #ffffe1;
      margin-top: 10px;
      padding: 5px;
      width: 40%;
    }

    span {
      margin-top: 2px;
    }
  }

  p {
    margin-bottom: 5px;
  }
}

.icon {
  font-size: 1.5em !important;
  position: relative;
  top: 6px;

  &-small {
    font-size: 1.2em !important;
    position: relative;
    top: 2px;
  }

  &-red {
    color: red;
  }
}
