$medly-green: #00d2b3;
.event-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event {
  width: 90%;
  padding: 15px;
  display: flex;
  flex-direction: row;
  border: 1px solid #eee;
  margin-bottom: 30px;

  &-index {
    width: 8%;
    justify-content: center;
    display: flex;
    align-items: center;
    span {
      background: $medly-green;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: block;
      justify-content: center;
      display: flex;
      align-items: center;
    }

    p {
      font-size: 22px;
      color: white;
      font-weight: bold;
    }
  }

  &-content {
    width: 95%;
  }

  &-title {
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
    padding-bottom: 10px;
  }

  &-notes {
    background: #ffffe1;
    margin-top: 10px;
    padding: 5px;
    width: 40%;

    &-alert {
      background: #ffffe1;
      margin-top: 10px;
      padding: 5px;
      width: 40%; 
    }

    span {
      margin-top: 2px;
    }
  }

  p {
    margin-bottom: 5px;
  }
}

.icon {
  font-size: 1.5em !important;
  position: relative;
  top: 6px;

  &-small {
    font-size: 1em !important;
    position: relative;
    top: 2px;
  }

  &-red {
    color: red;
  }
}
