@import "App-Variables.scss";

html {
  font-family: "Mandali";
}

body {
  background-color: $background-color;
}

.page-container {
  padding: 10px;
  min-height: 700px;
  &__data {
    display: flex;
    flex-direction: column;

    &-table {
      flex-basis: 100%;
    }

    &-charts {
      flex-direction: row;
      display: flex;
    }

    &-chart {
      flex-basis: 45%;
    }
  }
}

.data-container {
  border-radius: 5px;
  background-color: #fff;
  padding: 5px;
  margin-bottom: 5px;

  &-half {
    flex-basis: 50%;
    margin-right: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
  }
}

hr {
  border-top: 1px dashed #ccc;
}

.negative-margin-top {
  margin-top: -5px;
}