@import "../../App-Variables.scss";
.footer {
  height: 70px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $medly-navy;
  margin-top: 100px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 18px;
}
